/* pc.css */
body {
  /* background: #ccc; */
  font-size: 20px;
}

/* header */
header {
  background: #fff;
}

#main-header {
  width: 100%;
  position: fixed;
  z-index: 999;
  border-bottom: 1px solid #999;
}

#main-header .container {
  width: 100%;
  display: flex;
  position: relative;
}

#main-header .container h1 {
  width: 300px;
  min-width: 200px;
}

#main-header .container h1 > a {
  width: 100%;
  /* background: #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-left: 10px;
}

#main-header .container h1 > a > img {
  width: 100%;
}

/* gnb  */
#gnb {
  position: relative;
  /* background: pink; */
  margin: 0 auto;
  padding-top: 20px;
}

#gnb .depth1 {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

#gnb .depth1 > li {
  padding: 10px;
  /* outline: 1px solid red; */
}

#gnb .depth1 > li > p {
  display: none;
}

#gnb .depth1 > li > .title-menu {
  width: 170px;
  /* outline: 1px solid #888; */
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
}

#gnb .depth1 > li > .title-menu > a {
  width: 30px;
}

#gnb .depth1 > li > .title-menu:hover > a {
  color: var(--main-color1);
}

#gnb .depth1 > li > .title-menu > .bi {
  display: none;
}

/* depth2 */
#gnb .depth2 {
  margin-top: 10px;
  display: none;
}

#gnb .depth2.on {
  display: block;
}

#gnb .depth2 > li {
  padding: 10px;
}

#gnb .depth2 > li > a {
  font-weight: 500;
  font-size: 16px;
}

#gnb .depth2 > li:hover > a {
  font-weight: 350;
  color: var(--main-color1);
}

/* btn */
#close-btn {
  position: absolute;
  right: -32px;
  top: 0;
  display: none;
  font-size: 32px;
  background: transparent;
  border-style: none;
}

#toggle-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 32px;
  background: transparent;
  border-style: none;
  display: none;
}

/* index */

.k-container {
  width: 100%;
  margin: 0 auto;
}

/* 메인 배너 */

#k-main-Banner {
  width: 100%;
  background: linear-gradient(90deg, #2e3483 50%, #dfdfdf 50%);
}

/* 모바일용 이미지 끄기 */
.m-main-img {
  display: none;
}

#k-main-Banner .k-container {
  max-width: 1440px;
}

.swiper-slide img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 5px;
  border-radius: 0;
}

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 1;
  background-color: #fff;
}
.swiper-pagination > .swiper-pagination-bullet-active {
  background: var(--main-color2);
}

/* 의료분야별 */

#k-field {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 87px;
}

#k-field h1 {
  font-size: 30px;
  padding-bottom: 60px;
  text-align: center;
  text-decoration: 5px underline;
  text-underline-position: under;
  text-decoration-color: #e9b226;
}

#k-field .k-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px 30px;
}

#k-field .k-col {
  width: 20%;
  height: 20vh;
  /* background: #ccc; */
  border: 1px solid #666;
  position: relative;
}

#k-field .k-col a {
  display: block;
  /* outline: 1px solid red; */
  height: 100%;
  width: 100%;
  padding: 20px;
}

#k-field .k-col p {
  font-size: 24px;
  font-weight: 400;
}

#k-field .k-col a:hover {
  border: 3px solid #08107b;
  color: #08107b;
}

#k-field .k-col img {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

/* ------------신제품 배너------------ */

.k-m-new {
  display: none;
}

#k-new-banner {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.k-slider2 .k-sliders2 img {
  display: block;
  width: 1440px;
  margin: 0 auto;
}

.k-slider2 .k-sliders2 .k-bg:nth-child(1) {
  width: 100%;
  background: var(--main-color2);
}

.k-slider2 .k-sliders2 .k-bg:nth-child(2) {
  width: 100%;
  background: var(--main-color1);
}

.k-slider2 .k-sliders2 .k-bg:nth-child(3) {
  width: 100%;
  background: var(--main-color1);
}

.k-slider2 .k-sliders2 {
  /* 높이값 이동: 1장 = 300px */
  transform: translateY(calc(-150px * 0));
  transition: 0.5s;
}

/* -----------제품정보 --------------*/

#k-product {
  overflow: hidden;
  margin-bottom: 140px;
}

#k-product h1 {
  text-align: center;
  text-decoration: 5px underline;
  text-underline-position: under;
  text-decoration-color: #e9b226;
  padding-top: 60px;
  padding-bottom: 60px;
}

#k-product .k-col2 {
  width: calc(100% / 6);
  height: 70vh;
  /* outline: 1px solid red; */
  float: left;
}

#k-product .k-col2 a {
  display: block;
  height: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  padding-top: 20%;
}

#k-product .k-container .k-col2:nth-child(1) {
  background: #eeeeee;
  background-image: url(../images/index/col2-img1.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

#k-product .k-container .k-col2:nth-child(2) {
  border: 1px solid #eeeeee;
  background-image: url(../images/index/col2-img2.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
#k-product .k-container .k-col2:nth-child(3) {
  background: #eeeeee;
  background-image: url(../images/index/col2-img3.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
#k-product .k-container .k-col2:nth-child(4) {
  border: 1px solid #eeeeee;
  background-image: url(../images/index/col2-img4.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
#k-product .k-container .k-col2:nth-child(5) {
  background: #eeeeee;
  background-image: url(../images/index/col2-img5.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 150%;
}
#k-product .k-container .k-col2:nth-child(6) {
  border: 1px solid #eeeeee;
  background-image: url(../images/index/col2-img6.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 80%;
}

#k-product a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

/* intro */

#b_main-visual .container {
  height: 327px;
  width: 100%;
  border-radius: 0px;
  margin-top: 90px;
  background-image: url(../images/intro/banner.png);
  background-repeat: no-repeat;
}

#b_main-visual img {
  height: 327px;
  width: 1440px;
}
#b_main-visual h2 {
  font-family: "Noto Sans KR";
  letter-spacing: 0.5em;
  font-size: 50px;
  line-height: 72px;
  color: #ffffff;
  text-align: center;
  left: 520px;
  padding-top: 127px;
  border-radius: nullpx;
}
.b {
  font-size: 40px;
  text-align: center;
  line-height: 58px;
  line-height: 100%;
  font-weight: 500;
  height: 116px;
  left: 184px;
  padding-top: 130px;
  border-radius: nullpx;
}
#b_intro .b_container {
  width: 1380px;
  height: 1941px;
}
#b_intro .b_row {
  width: 100%;
  height: 100vh;
  padding-top: 130px;
  padding-bottom: 130px;
}

#b_intro .b_col {
  padding-bottom: 130px;
  overflow: hidden;
}

.b_col img {
  height: 547px;
  width: 665px;
  left: 30px;
  top: 793px;
  overflow: hidden;
}
.b_col:first-child img {
  float: left;
}
.b_col:first-child h4 {
  justify-content: right;
  font-weight: bold;
  font-size: 100px;
  color: #d1d1d1;
  text-align: right;
  line-height: 145px;
  padding-right: 50px;
}
.b_col:first-child p {
  float: right;
  /* line-height: 35px; */
  font-size: 24px;
  width: 665px;
  padding-top: 40px;
  padding-right: 50px;
  /* background:yellow; */
}
.b_col:last-child img {
  float: left;
}
.b_col:last-child h4 {
  float: right;
  font-weight: bold;
  font-size: 100px;
  color: #d1d1d1;
  text-align: right;
  line-height: 145px;
  line-height: 100%;
  height: 235px;
  padding-right: 50px;
}

.b_col:last-child p {
  float: right;
  font-size: 24px;
  width: 665px;
  padding-top: 70px;
  padding-right: 50px;
}
.b_col:nth-child(2) img {
  float: right;
}
.b_col:nth-child(2) h4 {
  font-weight: bold;
  font-size: 100px;
  color: #d1d1d1;
  text-align: right;
  line-height: 145px;
  line-height: 100%;
  float: left;
}
.b_col:nth-child(2) p {
  font-size: 24px;
  width: 665px;
  height: 235px;
  padding-top: 70px;
  float: left;
}
/* 메뉴 간격 조정(910px까지의 메뉴 간격) */
@media screen and (max-width: 910px) {
  #gnb ul li {
    margin-left: 80px;
  }
}

/* post */
#s-main-visual {
  padding-top: 0;
  padding-bottom: 0;
}

#s-main-visual h2 {
  font-size: 50px;
  letter-spacing: 0.5em;
  text-align: center;
  padding-top: 126px;
  color: var(--main-color1);
}

#s-main-visual .s-container {
  height: 327px;
  position: relative;
  background-image: url("../images/post/main.png");
  background-size: cover;
}

#s-intro .s-container {
  background-color: #eeeeee;
  height: 327px;
  font-size: 40px;
  color: var(--main-color1);
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-size: 40px;
  margin-top: 65px;
  margin-bottom: 80px;
  margin-left: 98px;
}

#s-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 142px;
}

#s-policy .s-container .s-col {
  width: 338px;
  height: 338px;
  border: 10px solid #08107b;
  border-radius: 50%;
  float: left;
  margin-right: 60px;
  margin-left: 60px;
}

#s-policy .s-container h3 {
  font-size: 40px;
  color: #3467cc;
  font-weight: 500;
  text-align: center;
  margin-top: 105px;
}

#s-policy .s-container p {
  font-size: 24px;
  text-align: center;
  color: var(--text-color-light);
}

#s-policy .s-container .s-col img {
  display: flex;
  margin-left: 360px;
  margin-top: -100px;
}

#s-system .s-container {
  background-image: url(../images/post/system.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eeeeee;
  height: 654px;
}

#s-h4 {
  position: absolute;
  margin-top: 30px;
}

#s-identity .s-container {
  background-image: url(../images/post/frame.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}

#s-h42 {
  position: absolute;
  margin-top: 50px;
}

/* support */

.j-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 327px;
  background-image: url(../images/support/title-img.png);
  background-size: cover;
}

.j-title p {
  color: var(--sub-color1);
  font-weight: 700;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: 0.5em;
}

.j-support {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

/* 간격 조정 */
@media screen and (max-width: 1195px) {
  .j-support {
    gap: 100px;
  }
}

@media screen and (max-width: 1100px) {
  .j-support {
    gap: 50px;
  }
}

.j-support h1 {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: 0.5em;
  padding-top: 50px;
  padding-left: 50px;
}

.j-support h1 span {
  font-weight: 700;
  font-size: 50px;
}

.j-contact {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  /* padding-bottom: 23px; */
}

.j-questions,
.j-tour {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  width: 484px;
  height: 556px;
  margin-top: 71px;
  margin-bottom: 70px;
  outline: 1px solid #000;
}

.j-text {
  display: flex;
}

.j-list {
  padding-top: 60px;
  padding-left: 75px;
}

.j-list p {
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 10px;
}

.j-list p:last-child {
  padding-bottom: 0;
}

.j-questions img {
  width: 236px;
  height: 169px;
  margin: 62px 124px 52px;
}

.j-questions .j-hover {
  display: none;
}

.j-tour img {
  width: 208px;
  height: 248px;
  margin: 14px 138px 33px;
}

.j-tour .j-hover {
  display: none;
}

.j-time {
  margin-bottom: 10px;
}

.j-questions:hover {
  outline: 5px solid var(--main-color1);
  color: var(--main-color1);
}

.j-questions:hover img {
  display: none;
}

.j-questions:hover .j-hover {
  display: block;
}

.j-tour:hover {
  outline: 5px solid var(--main-color1);
  color: var(--main-color1);
}

.j-tour:hover img {
  display: none;
}

.j-tour:hover .j-hover {
  display: block;
}

/* product-main */
#h-main {
  width: 100%;
  padding-top: 90px;
  /* height: calc( - var(--pc-header-height)); */
}
.product-main {
  width: 100%;
  height: 327px;
  /* background: #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.product-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  filter: brightness(75%);
}

.product-main h1 {
  position: absolute;
  font-weight: 700;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: 0.5em;
  color: #fff;
}

.h-category ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.h-category ul li a {
  color: #000000;
  /* outline: 1px solid red; */
  font-size: 20px;
  font-weight: 400;
}
.h-category ul li a:hover {
  color: var(--main-color1);
  font-weight: 700;
}

#h-container {
  margin-left: 30px;
  margin-right: 30px;
  /* background: #888; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
  align-items: center;
}

#h-container .h-col {
  /* width: 446px;
  height: 446px; */
  width: calc(33% - 8px);
  outline: 1px solid var(--main-color1);
  outline-style: inset;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#h-container .h-col a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#h-container .h-col a > img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  transition: all 0.4s ease-in;
  background: #fff;
}

#h-container .h-col:hover img {
  filter: grayscale(100%) brightness(90%);
  transform: scale(1.1);
}

#h-container .h-col .h-products-title {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 50%;
  background: rgba(8, 16, 123, 0.5);
  transform: translateY(-50%) scale(1.2);
  transition: all 0.4s ease-in;
  opacity: 0;
  color: #fff;
  text-transform: uppercase;
  padding-top: 56px;
  padding-bottom: 30px;
}

#h-container .h-col:hover .h-products-title {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

.h-products-title h2 {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.h-products-title p {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2em;
}

/* footer */
footer {
  background: var(--sub-color2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 180px; */
  padding-left: 30px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-info p {
  color: #555;
  font-size: 14px;
  font-weight: 400;
}

.footer-info p:first-child {
  font-weight: 700;
  padding-bottom: 9px;
}

.footer-info p {
  padding-bottom: 6px;
}
@media screen and (min-width: 768px) {
  .footer-info p br {
    display: none;
  }
}

.footer-info p:nth-child(3) {
  padding-bottom: 2px;
}

.footer-info .copy {
  font-size: 12px;
  padding-bottom: 0;
}

.family-site {
  position: relative;
  margin-right: 108px;
  /* outline: 1px solid red; */
}

@media screen and (max-width: 1190px) {
  .family-site {
    margin-right: 30px;
  }
}

.family-site- {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 50px;
  border: 1px solid var(--main-color1);
  padding: 13px 30px;
}

.family-site- p {
  font-size: 16px;
  font-weight: 500;
  color: var(--main-color1);
}

#family-site-btn {
  border: none;
  background: transparent;
  /* outline: 1px solid red; */
}

#family-site-btn .bi {
  font-size: 24px;
  color: var(--main-color1);
}

.family-site-nav > ul {
  /* outline: 1px solid red; */
  position: absolute;
  bottom: 50px;
  width: 300px;
  height: 197px;
  display: none;
}

.family-site-nav > ul.on {
  position: absolute;
  bottom: 50px;
  width: 300px;
  height: 197px;
  display: block;
}

.family-site-nav a {
  display: block;
  color: var(--sub-color1);
  background: var(--main-color1);
  font-size: 16px;
  font-weight: 500;
  padding: 13px 30px;
}
